.section-contact {
    position: relative;
    display: inline-flex;
    padding: 10px;
}

.section-contact h2 {
    text-align: center;
    color: #0072ce;
    margin-bottom: 20px;
}

.section-contact .contact-card {
    background-color: #fff;
    box-shadow: 0px 6px 10px rgba(57, 57, 57, 0.74);
    color: #333;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    display: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.section-contact .contact-card span{
    font-size: 20px;
    font-weight: 500;
    background: #FFCC03;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #3C59A5;
    float: left;
    left: 0;
}
.section-contact .contact-card .card-image {
    margin-bottom: 20px;
}

.section-contact .contact-card .card-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFCC03;
}

.section-contact .contact-card .card-image h2 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
}

/* ========= Card-text ============ */

.section-contact .contact-card .card-text .btn {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #FFCC03;
    border: 2px solid #1800ed;
}

.section-contact .contact-card .card-text .btn:hover {
    color: #333;
    font-weight: 500;
}




@media screen and (min-width: 600px) {
    .section-contact .contact-card {
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section-contact .contact-card .card-image {
        margin-bottom: 0px;
        // padding-right: 20px;
    }
    .section-contact .contact-card .card-image img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #FFCC03;
    }
}