.brand-p{
    width: 120px;

}

.btn-list{
    background: #FFCC03;
    color: #333 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    padding: .5rem 2rem !important;
    margin: 2px 0 0 20px;
    border-radius: 10px;
}

